<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078115987955-9ed3vtndt1cv5cf479sg2fjqmii4bv69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078115987955-9ed3vtndt1cv5cf479sg2fjqmii4bv69</string>
	<key>API_KEY</key>
	<string>AIzaSyDUTsvf4y52ePQDwEVFF6ny2mK8tyv5xMU</string>
	<key>GCM_SENDER_ID</key>
	<string>1078115987955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.crmapp</string>
	<key>PROJECT_ID</key>
	<string>shopmate-b42a1</string>
	<key>STORAGE_BUCKET</key>
	<string>shopmate-b42a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078115987955:ios:c4c0486bf9976f8240e286</string>
</dict>
</plist>